@import url("https://fonts.googleapis.com/css2?family=Agdasima&display=swap");
@import "../../../App.scss";

.about-section {
    width: 100%;
    height: 100%;
  @include display(space-between, center);

  .content {
    width: 30%;

    h3 {
      font-family: "Agdasima";
      font-size: 1.5rem;
      font-weight: 200;
      line-height: 2rem;
      word-spacing: 0.1rem;
    }
  }
  .image {
        width: 65%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
  }
}
